---
title: Minio Internal Blobstore for VMware Tanzu (Amazon S3-Compatible)
owner: Partners
---

This documentation describes Minio Internal Blobstore for VMware Tanzu. 
Minio is an open source object storage server with an Amazon S3-compatible API.

## <a id='overview'></a>Overview

Minio Internal Blobstore for VMware Tanzu is a distributed S3 compatible blobstore for VMware Tanzu Application Service for VMs (TAS for VMs). 
Operators can use Minio as blobstore for TAS for VMs instead of the internal WebDAV/NFS, which are single points of failure.

## <a id='overview'></a>Key Features
Minio for VMware Tanzu includes the following key features:

* **Amazon S3-compatible:** Amazon S3 API is the de facto standard for object storage.
Minio implements the Amazon S3 API.
* **Data protection:** Minio protects data against hardware failures using erasure code and bitrot detection. 
You may lose up to half the number of drives and still recover from it. 
Data protection code is accelerated using SIMD instructions on x64 and ARM CPUs.
* **Highly available:** Minio server can tolerate up to (N/2)-1 node failures in a distributed setup. 
In addition, you can configure Minio server to continuously mirror data between Minio and
any Amazon S3-compatible server.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Minio for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0.17</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 25, 2021</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2021-08-25T00-41-18Z</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.6.x, v2.7.x, v2.8.x, v2.9.x, v2.10.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs version(s)</td>
        <td>v2.6.x, v2.7.x, v2.8.x, v2.9.x, v2.10.x, v2.11.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial 621</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
   </tr>
</table>


## <a id="feedback"></a>Support and License
For a commercial subscription, please contact pivotal@minio.io
