---
title: Minio Internal Blobstore for Pivotal Platform (Amazon S3-Compatible)
owner: Partners
---

This documentation describes Minio Internal Blobstore for Pivotal Platform. 
Minio is an open source object storage server with an Amazon S3-compatible API.

## <a id='overview'></a>Overview

Minio Internal Blobstore for Pivotal Platform is a distributed S3 compatible blobstore for Pivotal Application Service (PAS). 
Operators can use Minio as blobstore for PAS instead of the internal WebDAV/NFS, which are single points of failure.

## <a id='overview'></a>Key Features
Minio for Pivotal Platform includes the following key features:

* **Amazon S3-compatible:** Amazon S3 API is the de facto standard for object storage.
Minio implements the Amazon S3 API.
* **Data protection:** Minio protects data against hardware failures using erasure code and bitrot detection. 
You may lose up to half the number of drives and still recover from it. 
Data protection code is accelerated using SIMD instructions on x64 and ARM CPUs.
* **Highly available:** Minio server can tolerate up to (N/2)-1 node failures in a distributed setup. 
In addition, you can configure Minio server to continuously mirror data between Minio and
any Amazon S3-compatible server.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Minio for Pivotal Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0.9</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 12, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2019-10-12T01-39-57Z.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x, v2.8.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x, v2.8.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial 456</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
   </tr>
</table>


## <a id="feedback"></a>Support and License
For a commercial subscription, please contact pivotal@minio.io
