---
title: Release Notes
owner: Partners
---

##<a id="ver"></a> v1.0.0

**Release Date:** November 21, 2018

Features included in this release:

* Support for stand-alone or distributed deployments.

* Derived from Minio Version 2018-11-06T01-01-02Z.

