---
title: Release Notes
owner: Partners
---

##<a id="ver1.0.5"></a> v1.0.5

**Release Date:** July 30, 2019

Features included in this release:

* Updated to Minio Version 2019-07-24T02-02-23Z
* Support for HTTPS configuration for HAProxy load balancer

##<a id="ver1.0.4"></a> v1.0.4

**Release Date:** February 12, 2019

Features included in this release:

* Updated to Minio Version 2019-02-12T21-58-47Z containing performance and security fixes

##<a id="ver1.0.3"></a> v1.0.3

**Release Date:** January 4, 2019

Features included in this release:

* Updated to Minio Version 2018-12-27T18-33-08Z containing a fix related to BOSH upgrades.
* Support Static IPs configuration for minio servers

##<a id="ver1.0.2"></a> v1.0.2

**Release Date:** December 3, 2018

Features included in this release:

* Updated to Minio Version 2018-11-30T03-56-59Z containing a fix related to BOSH upgrades.
* Changed default disk size per VM to 1TB.

##<a id="ver1.0.1"></a> v1.0.1

**Release Date:** November 30, 2018

Features included in this release:

* Support for stand-alone or distributed deployments.

* Derived from Minio Version 2018-11-06T01-01-02Z.

