---
title: Release Notes
owner: Partners
---

##<a id="ver"></a> v1.0.0

**Release Date:** November 16, 2018

Features included in this release:

* Supports stand-alone or distributed deployment.

* Derived from Minio Version 2018-11-06T01-01-02Z.

